extends layout

block layout-content
  div.p-5
    div.container.text-center
        div "Bismillah, cari rezeki, jangan rakus, pelan pelan yang penting stabil"
        a(href="/histories").btn.btn-primary.mt-4 history

